# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage
.nyc_output

# Next.js
/.next/
/out/
/build
/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
/public/downloads/
.vercel
.turbo
downloads.json
settings.json
ignored-items.json
config.json
config.json.backup
.cache
logs/